---
http_interactions:
- request:
    method: get
    uri: https://apps.runescape.com/runemetrics/xp-monthly?searchName=<%= player_name %>&skillid=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"monthlyXpGain":[{"skillId":0,"totalXp":0,"averageXpGain":0,"totalGain":0,"monthData":[]}],"loggedIn":"false"}'
  recorded_at: Tue, 03 Oct 2023 20:26:21 GMT
[...]
- request:
    method: get
    uri: https://apps.runescape.com/runemetrics/xp-monthly?searchName=<%= player_name %>&skillid=28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"monthlyXpGain":[{"skillId":28,"totalXp":0,"averageXpGain":0,"totalGain":0,"monthData":[]}],"loggedIn":"false"}'
  recorded_at: Tue, 03 Oct 2023 20:29:31 GMT
recorded_with: VCR 6.2.0
