---
http_interactions:
- request:
    method: get
    uri: https://apps.runescape.com/runemetrics/xp-monthly?searchName=<%= player_name %>&skillid=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"monthlyXpGain":[{"skillId":0,"totalXp":28399881,"averageXpGain":28317,"totalGain":339808,"monthData":[{"xpGain":15588,"timestamp":1667675840137,"rank":103405},{"xpGain":0,"timestamp":1670103404433,"rank":0},{"xpGain":64781,"timestamp":1674773418285,"rank":75505},{"xpGain":0,"timestamp":1675460204433,"rank":0},{"xpGain":0,"timestamp":1677879404433,"rank":0},{"xpGain":0,"timestamp":1680554204433,"rank":0},{"xpGain":0,"timestamp":1683146204433,"rank":0},{"xpGain":0,"timestamp":1685824604433,"rank":0},{"xpGain":0,"timestamp":1688416604433,"rank":0},{"xpGain":0,"timestamp":1691095004433,"rank":0},{"xpGain":244879,"timestamp":1695750737575,"rank":23451},{"xpGain":14560,"timestamp":1696293950489,"rank":18158}]}],"loggedIn":"false"}'
  recorded_at: Tue, 03 Oct 2023 20:41:13 GMT
[...]
- request:
    method: get
    uri: https://apps.runescape.com/runemetrics/xp-monthly?searchName=<%= player_name %>&skillid=28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"monthlyXpGain":[{"skillId":28,"totalXp":24769570,"averageXpGain":2064128,"totalGain":24769539,"monthData":[{"xpGain":0,"timestamp":1667511844174,"rank":0},{"xpGain":0,"timestamp":1670103844174,"rank":0},{"xpGain":0,"timestamp":1672782244174,"rank":0},{"xpGain":0,"timestamp":1675460644174,"rank":0},{"xpGain":0,"timestamp":1677879844174,"rank":0},{"xpGain":0,"timestamp":1680554644174,"rank":0},{"xpGain":0,"timestamp":1683146644174,"rank":0},{"xpGain":0,"timestamp":1685825044174,"rank":0},{"xpGain":0,"timestamp":1688417044174,"rank":0},{"xpGain":0,"timestamp":1691095444174,"rank":0},{"xpGain":18795069,"timestamp":1696039014687,"rank":19262},{"xpGain":5974470,"timestamp":1696293950534,"rank":2965}]}],"loggedIn":"false"}'
  recorded_at: Tue, 03 Oct 2023 20:44:04 GMT
recorded_with: VCR 6.2.0
